# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Printf/Makefile
cmd/bin/uebung01
cmd/bin/utuebung01
*.mk
cmd/Makefile
Printf/bin/uebung01
Printf/bin/utuebung01
PreAllocString/bin/uebung02
PreAllocString/bin/utuebung02
PreAllocString/Makefile
